.tbl {
  position: absolute;
  left: 800px;
  top: 80px;
}

.tbl-table__tb {
  border: 1px solid #47AAE7;
}
.tbl-table__tb td {
  margin: 1px;
  width: 50px;
  height: 50px;
  background-color: #47AAE7;
}
.tbl-btns__btn {
  display:block;
  position: absolute;
  width: 52px;
  height: 52px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s;
}
.tbl-btns__btn:hover {
  opacity: 0.7;
  display: block;
}
.tbl-btns__btn_top {
  top: -54px;
  left: 2px;
}
.tbl-btns__btn_right {
  top: 4px;
  right: -54px;
}
.tbl-btns__btn_bot {
  bottom: -54px;
  left: 2px;
}
.tbl-btns__btn_left {
  top: 2px;
  left: -54px
}

.tbl-btns__add-btn::before{
  content: '';
  position: absolute;
  display: block;
  width: 13px;
  height: 3px;
  background-color: #fff;
  left: 20px;
}
.tbl-btns__add-btn::after{
  content: '';
  position: absolute;
  display: block;
  width: 3px;
  height: 11px;
  background-color: #fff;
  top: 22px;
  left: 49%;
}
.tbl-btns__delete-btn::after {
  content: '';
  position: absolute;
  display: block;
  width: 13px;
  height: 3px;
  background-color: #fff;
  left: 20px;
}

.tbl-btns__btn_minus {
  background-color: #B00100;
  border: none;
}
.tbl-btns__btn_plus {
  border: none;
  background-color: #F4A500;
}
.disabled {
  transition: all 0.25s;
  visibility: hidden;
}